report.html
appium-screenshot-1.png
appium-screenshot-2.png
appium-screenshot-3.png
log.html
output.xml
report.html
appium-screenshot-4.png
appium-screenshot-5.png
appium-screenshot-6.png
appium-screenshot-8.png
appium-screenshot-7.png
